*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}
header{
    width: 100%;
    background-color: black;
    text-align: left;
    height: auto;
    background-color: black;
    border-bottom: 1px solid #eee;

}
h1{
    background-color: black;
    color: white;
}

