*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
#logo{
    background-color: black;
    border-bottom: 1.5px solid black;
    font-size: 15px;
    margin: 0px;
    position: fixed;
    width: 100%;
    z-index: 3;


}
h1{
    color: white;
    padding: 1em;
    font-size: 3em;
    text-align: center; 
    font-family: sans-serif; 
    font-weight: bold;
    /* line-height: 1.5em; */
}


header{
    width: auto;
    border-bottom: 2px solid orange;
}




#link{
    text-align: center;
    margin: 5px auto;
    
    width: 70%;
    background-color: white;

    display: none;
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 60px;

}
#link p{
    text-align: center;
    padding: 4px;
    padding-bottom: 0;
    
}
#link p a{
    text-decoration: none;
    color: black;
    font-size: 0.7em;
}
.containers{
    width: 100%;
}

.form-div{
    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12)
            ;
            padding: 15px;
            animation-duration: 2s;
}
.form-div:hover{
    background-color: #3375bb;
    color: white;
}
img{
    animation: slide; 
animation-duration: 2s;
}
h2{
    font-size: 3.5em;
    color: Black;
    /* box-shadow: black; */
}

.loll{
    width: 40px;
    height: 40px;
}

form:hover{
    color: white;

}
html{
    width: 100%;
}

.grid-box{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 6%;
    padding-right: 6%;
    
}
.grid{
    width: 100%;
    
}
.three-boxes{
    display:flex;
    flex-wrap: wrap;

}
.card{
    margin-left: 20px;
    margin: 10px auto;
    width: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border: 0.001px solid #444;
}
.card:hover{
    border: 0.5px solid orange;
}
#menubar5{
    background-color: orangered;
    height: 800px;
    width: -500px;
    z-index: 3;
    
}
.main-text{
        padding: 15px;
        max-width: 800px;
        text-align: center;

        margin: 0px auto;

}
.main-text h3{
    margin: 5px auto;
}
.btn{
    background-color:black;
    font-size: 1.5em;
    border: orange 0.5px solid;
    border-radius: 4px;

}
.btn:hover{
    background-color: orange;
    border: black 0.5px solid;
    color: black;

}
h2{
    text-align: center;
    text-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
footer{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:auto auto;
    font-size: 1em;
    padding: 20px;
    border-top: 2px solid orange;

}
form{
    display: block;
    text-align: center;
    
}
form input{
    display: block;
    font-size: 1.7em;
    padding: 7px;
    margin: 8px auto;
    border: 1px solid black;
    color: black;
}

form label{
    display: block;
    font-size: 1.7em;
    padding: 4px;
    margin: 8px auto;
    text-align: center;
    color: black;
}
#information{
    text-align: center;
}
.info{
    border: none;
}
#successful{
    display: none;
}
@media screen and (max-width: 500px) {
    .grid-box{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .grid{
        width: 100%;
        
    }
    
  }